*{
    margin: 0px;
    padding: 0px;
}
body{
    .batilogo{
        margin-top: 50px;
        margin-left: 640px;
        margin-bottom: 20px;
        width: 500px;
        height: 300px;
        text-align: center;
        line-height: 300px;
    }
        #a-body{
            padding: 15px;
        background-color: black;
        margin-top: 100px;
        margin-left: 780px;
        font-family:Arial, Helvetica, sans-serif ;
        color:red;
        text-decoration: none;
        font-size: medium;
        
    }
        .videoTrailer{
            margin-left: 612px;
        }
}